<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">NFL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Players</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'estadio' %}">estadio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'equipos' %}">equipos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Owner' %}">Owner</a>
          </li>
      </div>
    </div>
  </nav>
  {% block body%}

  {% endblock %}
</body>
</html>