{% extends "./base.html"%}

{% block title%} PAGINA DE NFL {% endblock %}

{%block body%}
<div class = "row">
    <div class = "col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h1>Jugadores de la NFL</h1>
        <div class="table-responsive">
            <div class="card">
                <div class=" card-body">
                    <form action="/registrarjugador/" method="POST"> {% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre del jugador" minlength="6" maxlength="30" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtNumero" name="txtNumero" class="form-control" placeholder="Numero del jugador" minlength="1" maxlength="30" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtPosition" name="txtPosition" class="form-control" placeholder="posicion del jugador" minlength="1" maxlength="30" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white"> Guardar </button>
                        </div>
            </div>
    </div>
    <div>
    <div class = "col-sm-12 col-md-6 col-lg-8 col-xl-8">
 <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Numero</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            {% for c in Players%}
            <tr>
                <td>
                    {{c.name}}
                    
                </td>
                <td>
                    {{c.number}}
                </td>
                <td>
                    {{c.position}}
                </td>
                      <td><a href="edicionjugador/{{c.name}}"class="btn btn-info">Editar</a></td>
                      <td><a href="eliminarjugador/{{c.name}}"class="btn btn-danger">Eliminar</a></td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
 </div>
    </div>
    </div>
{% endblock%}