{% extends "./base.html"%}

{% block title%} ESTADIOS{% endblock %}

{%block body%}
<div class = "row">
    <div class = "col-sm-12 col-md-6 col-lg-4 col-xl-4">
<h1>ESTADIOS NFL</h1>
<div class="table-responsive">
    <div class="card">
        <div class=" card-body">
            <form action="/registrarestadio/" method="POST"> {% csrf_token %} {{ form.as_p }}
                <div class="form-group">
                    <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre del estadio" minlength="6" maxlength="30" required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtcapacidad" name="txtcapacidad" class="form-control" placeholder="Capacidad" minlength="1" maxlength="30" required>
                </div>
                <label for="{{ form.owner.id_for_label }}">Seleccionar dueño:</label>
                <select name="{{ form.owner.name }}">
                    {% for owner in owners %}
                        <option value="{{ owner.id }}">{{ owner.name }}</option>
                    {% endfor %}
                </select>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text-white"> Guardar </button>
                </div>
    </div>
    <div class = "col-sm-12 col-md-6 col-lg-8 col-xl-8">
 <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>capacidad</th>
            </tr>
        </thead>
        <tbody>
            {% for c in Stadium%}
            <tr>
                <td>
                    {{c.name}}
                    
                </td>
                <td>
                    {{c.capacity}}
                </td> 

                <td><a href="edicionestadio/{{c.name}}"class="btn btn-info">Editar</a></td>
                <td><a href="eliminarestadio/{{c.name}}"class="btn btn-danger">Eliminar</a></td>
      </tr>
            </tr>
            {% endfor%}
        </tbody>
    </table>
 </div>
    </div>
    </div>
{% endblock%}