{% extends "./base.html"%}

{% block title%} Equipos {% endblock %}

{%block body%}
<div class = "row">
    <div class = "col-sm-12 col-md-6 col-lg-4 col-xl-4">
<h2>Equipos de la NFL</h2>
<div class="table-responsive">
    <div class="card">
        <div class=" card-body">
            <form action="/registrarequipo/" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre de equipo" minlength="6" maxlength="30" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text-white"> Guardar </button>
                </div>
    </div>
    <div class = "col-sm-12 col-md-6 col-lg-8 col-xl-8">
            </form>
        </div>

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for c in Team%}
            <tr>
                <td>
                    {{c.name}}
                    
                </td> 

                <td><a href="edicionequipo/{{c.name}}"class="btn btn-info">Editar</a></td>
                <td><a href="eliminarequipo/{{c.name}}"class="btn btn-danger">Eliminar</a></td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
 </div>
    </div>
    </div>
{% endblock%}